<!DOCTYPE html>
<html>

<head>
    <title>Dan Tao - Ideas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <%= stylesheet_link_tag "ideas" %>
    <%= javascript_include_tag "lib/ga.js" %>
</head>

<body>
    <section>
        <h1>Ideas</h1>
        <ul id="ideas">
            <li><a href="/ideas/waiting-for-a-variable-to-be-defined">Waiting for a variable to be defined</a></li>
            <li><a href="/ideas/sci-fi-idea-cosmic-bubble">A sci-fi movie idea: The Cosmic Bubble</a></li>
            <li><a href="/ideas/simple-voting-system">Up/Down: a simple voting system</a></li>
            <li><a href="/ideas/getting-rid-of-null">Getting rid of null</a></li>
            <li><a href="/ideas/fade-in-vocals">Fade-in vocals</a></li>
            <li><a href="/ideas/abusing-gravatar">Using Gravatar as a random backdrop</a></li>
            <li><a href="/ideas/abusing-404">Abusing the 404 error page</a></li>
            <li><a href="/">Back</a></li>
        </ul>
    </section>

    <section>
        <h1>Opinions</h1>
        <ul id="opinions">
            <li><a href="/ideas/functions-over-libraries">Functions over (JavaScript) libraries</a></li>
            <li><a href="/ideas/default-parameters-in-ruby">Default parameters in Ruby</a></li>
            <li><a href="/">Back</a></li>
        </ul>
    </section>
</body>

</html>
