@import 'common';

body {
  padding-bottom: 60px;
}

main {
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 25%;
}

#ideas {
  .nav-list;
}

#idea {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 40%;
  padding: 20px;
  background-color: #eee;
}

#comments {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 60%;
  right: 0;
  padding: 20px;
}

#path {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1ex 1em;
  color: #777;
}
