@import 'common';

@media all and (min-width: 800px) {
  main {
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 25%;

    h1 {
      font-size: 62.5px;
    }
  }

  #idea {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 40%;
    padding: 20px;
    padding-bottom: 60px;
    overflow: auto;
    background-color: #eee;
  }

  #comments {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 60%;
    right: 0;
    padding: 20px;
  }

  footer {
    .transparent(0.9);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
  }
}

@media all and (max-width: 799px) {
  footer {
    text-align: right;
  }

  #path {
    display: none;
  }
}

#ideas {
  .nav-list;
}

#idea {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  p, code {
    font-size: 16px;
  }

  code {
    color: darken(#0f82f5, 10%);
  }
}

footer {
  padding: 1ex 1em;
  color: #777;

  span {
    display: inline-block;
    margin-right: 10px;
  }

  a {
    display: inline-block;
    color: #444;
    text-decoration: none;

    &:hover {
      color: #999;
    }
  }
}
