<!DOCTYPE html>
<html>

<head>
    <title>Dan Tao</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <%= stylesheet_link_tag "ideas" %>
    <%= stylesheet_link_tag "lib/pastie" %>
    <script type="text/javascript" src="http://up-down.herokuapp.com/updown.js"></script>
    <%= javascript_include_tag "404" %>
</head>

<body>
    <section id="content">
        <div id="voting">
            <div class="voting-box">
                <button id="vote-up"></button>
                <div id="upvote-count">...</div>
            </div>
            <div class="voting-box">
                <button id="vote-down"></button>
                <div id="downvote-count">...</div>
            </div>
        </div>
    </section>

    <section id="comments">
        <div id="disqus_thread"></div>
    </section>

    <footer>
        <span id="path"></span>
        <a href="/ideas">Back</a>
    </footer>
</body>

</html>
