<!DOCTYPE html>
<html>

<head>
    <title>Dan Tao</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <%= stylesheet_link_tag "shadow" %>
    <%= javascript_include_tag "lib/ga.js" %>
    <%= javascript_include_tag "shadow" %>
</head>

<body>
    <main>
        <h1>Dan Tao</h1>

        <nav>
            <a href="http://philosopherdeveloper.com">Blog</a><br />
            <a href="https://github.com/dtao">Code</a><br />
            <a href="https://soundcloud.com/dantao">Music</a><br />
            <a href="/ideas">Ideas</a>

            <div id="shadow"></div>
        </nav>

        <footer>
            <a href="https://github.com/dtao/dtao.github.io">Source</a>
        </footer>
    </main>
</body>

</html>
